
<div class="col-md-4 widget">
	<div class="panel panel-default">
		<div class="panel-heading widget-heading">
			<i class="fa {{icon}}"></i> {{widget}}
		</div>
		<div class="panel-body">
			<div class="error-wrapper" ng-show="$parent.error">
				<span class="label label-danger">Failed to load data.</span>
			</div>
			<div class="loading" ng-hide="$parent.done || $parent.error">
				<i class="fa fa-refresh fa-spin fa-5x"></i>
			</div>
			<div class="results" ng-show="$parent.done">
				<div class="all-warnings">
					{{$parent.numberOfWarnings}} <i class="fa fa-circle-o"
						ng-show="$parent.same"></i> <i class="fa fa-thumbs-down"
						ng-show="$parent.more"></i> <i class="fa fa-thumbs-up"
						ng-show="$parent.less"></i>
				</div>
				<div class="chart">
					<canvas id="{{chart}}" width="auto" height="200px;"></canvas>
				</div>
				<div class="details">
					<span class="label label-danger">{{$parent.numberOfHighPriorityWarnings}}</span>
					<span class="label label-warning">{{$parent.numberOfNormalPriorityWarnings}}</span>
					<span class="label label-info">{{$parent.numberOfLowPriorityWarnings}}</span>
				</div>
			</div>
		</div>
	</div>
</div>