.details {
	text-align: center;
	font-size: 250%;
}

.details > .label {
	margin: 10px;
	
}

.all-warnings {
	text-align: center;
	font-size: 400%;
	font-weight:bold;
}

.widget-heading {
	font-size: 300%;
}

.loading {
	text-align: center;
}

.error-wrapper {
	text-align: center;
}